body {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    color: #373737;
    font-weight: 700;
    letter-spacing: 2.4px;
    font-family: 'Montserrat', sans-serif;
}

.menu {    
    max-width: 668px; 
    width: 100%;
    margin: 0 auto;
    padding: 25.5px 0;
}

.menu__list li {
    display: inline;    
    padding-right: 72px;   
}

.menu__list li:last-child {
    padding-right: 0;
}

.menu__list li a {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;   
    letter-spacing: 2.7px;
    text-transform: uppercase;    
    color: #FF0000;
    text-decoration: none;
}

.main__container {
    margin: 50px auto;
    text-align: center;
    max-width: 1145px;
    width: 100%;
}

.main__img {
    width: 1280px;
    height: 789px;
}

.main__title {   
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;  
    padding-bottom: 10px;  
}

.main__subtitle {
    text-indent: 25px;
    padding-top: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.main__subtitle:last-child {
    text-indent: 0px;
}

.main__button {
    border: none;
    background: #FF0000;
    border-radius: 4px;    
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;  
    padding: 18px 43px;  
    margin-top: 66px;
    cursor: pointer;
}

footer{
    margin: 82px 100px 30px 0;    
}

.footer__text {  
    font-size: 16px;
    line-height: 20px;
    text-align: right;
}